body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF1E6; /* Light peach background */
}

.page-wrapper {
    border: 40px solid #FFF1E6; /* Add a border to the wrapper */
    padding: 1rem 0; /* Add padding inside the border */
    box-sizing: border-box;
}

header {
    background-color: #1A1A77; /* Dark navy blue */
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.name {
    flex-grow: 1;
}

.name a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #FF6F61;
}

.mobile-nav {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1A77;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
    z-index: 1000;
}

.mobile-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-nav a i {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    .page-wrapper {
        border: 10px solid #FFF1E6; /* Add a border to the wrapper */
        padding: 0.2rem 0; /* Add padding inside the border */
        box-sizing: border-box;
    }

    #contact-me-button {
        display: none;
    }
}

section {
    padding: 2rem;
    margin-top: 70px; /* Adjust to the height of your header */
}

.introduction {
    text-align: left; /* Ensures the text is aligned to the left */
}

.introduction h1 {
    font-size: 2rem;
    color: #1A1A77; /* Dark navy blue */
}

.introduction p {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #4A4A4A; /* Medium gray */
}

#changing-text {
    color: #FF6F61; /* Medium gray */
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.tile {
    background-color: #f4f4f4;
    border: 2px solid #1A1A77; /* Dark navy blue border */
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-align: center;
}

.tile a {
    text-decoration: none;
    color: #1A1A77; /* Dark navy blue text */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.tile img {
    width: 100%;
    height: auto;
}

.tile h3 {
    padding: 1rem;
    background-color: #fff;
    margin: 0;
    font-size: 1.2rem;
    flex-shrink: 0;
}

.tile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #1A1A77; /* Dark navy blue */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

#contact-me-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF6F61; /* Soft coral */
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.94;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#contact-me-button:hover {
    background-color: #FF7F6E; /* Slightly lighter coral for hover effect */
}
